@page
@inject WeChatSetting WeChatSetting;
@inject SiteSetting SiteSetting;

@model IndexModel
@{
    ViewData["Title"] = SiteSetting.SiteName;
}
<p>
    @WeChatSetting.AppId
</p>
<p>
    @WeChatSetting.AppSecret
</p>

<div class="text-center">
    <h1 class="display-4">Welcome To @SiteSetting.SiteName</h1>
    <p>Learn about <a href="@SiteSetting.SiteUrl">@SiteSetting.SiteDescription</a>.</p>
</div>
